test/bstlok.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BasistabelBestelLokatie" type="BasistabelBestelLokatieType"/>
  <xs:complexType name="BestelLokatieType">
    <xs:sequence>
      <xs:element name="BestelLocatieSoort">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="H"/>
            <xs:enumeration value="L"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="Havencode"/>
      <xs:element type="xs:string" name="VerloningCentrumCode"/>
      <xs:element type="xs:string" name="BestelLocatieBeginDatum"/>
      <xs:element type="xs:string" name="BestelLocatieEindDatum"/>
      <xs:element type="xs:string" name="BestelLocatieCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BasistabelBestelLokatieType">
    <xs:sequence>
      <xs:element type="BestelLokatieType" name="BestelLokatie" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>